# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Fotos
fotos/
converted/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Projekt-Analyse (nicht committen)
_analyse/
